input {
    border: 1px solid #A24DDB;
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

button {
    border: 1px solid #A24DDB;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background: linear-gradient(to right, #8D4FEE, #C85FD0);
    color: #F4F3F5;
}
