.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  font-family: "Roboto";
}

.app_name {
  font-family: "ClashDisplay-Semibold";
  font-size: 1.5rem;
}

.app_header {
  font-family: "ClashDisplay-Medium";
  font-size: 3rem;
  width: 40rem;
  max-width: 100%;
}

.purple_word {
  background-image: linear-gradient(
    45deg,
    var(--color-purple),
    var(--color-lilac)
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text_header {
  font-weight: 300;
  width: 25rem;
  max-width: 100%;
  line-height: 1.8rem;
  margin-bottom: 4em;
}

.separation_line {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 300px;
    height: 2px;    
    background: linear-gradient(90deg, #0F0F0F 0%, #9E4BD5 33.33%, #9E4BD5 66.67%, #0F0F0F 100%);
}

