@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    --color-aubergine: #461E58;
    --color-black: #0F0F0F;
    --color-white: #F4F3F5;
    --color-purple: #9E4BD5;
    --color-lilac: #BD54CF;
    --color-violette: #8B4FEE;
    --color-mauve: #C75AD1;
    --color-grey: #232323;
    --color-mouse: #5c5b5b;
    background: linear-gradient(var(--color-aubergine) 10%, var(--color-black), var(--color-aubergine));
    color: var(--color-white);
    font-family: "Roboto";
    font-weight: 400
}


@font-face {
    font-family: "ClashDisplay-Bold"; 
    src: url("./fonts/ClashDisplay-Bold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Extralight"; 
    src: url("./fonts/ClashDisplay-Extralight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Light"; 
    src: url("./fonts/ClashDisplay-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Medium"; 
    src: url("./fonts/ClashDisplay-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Regular"; 
    src: url("./fonts/ClashDisplay-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Semibold"; 
    src: url("./fonts/ClashDisplay-Semibold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}